body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: #222222;
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background-color: #262626;
    padding-bottom: 20px;
    text-align: center;
}

.header img {
    max-width: 350px; /* Adjusted logo size */
}

.container {
	 padding: 20px;
    width: 80%;
    max-width: 800px;
    margin: auto;
}

h1 {
    margin: 0;
    font-size: 1.5em; /* Adjusted font size */
}

h1.title {
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
}



.generate-button {
    display: block;
    margin: 20px auto;
    padding: 15px 30px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#iniResultContainer {
    background-color: #1a1a1a;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    height: 200px;
    margin-top: 15px;
    padding: 15px;
    border: 1px solid #333;
    border-radius: 8px;
    resize: none;
    background-color: #1f1f1f;
    color: #fff;
    box-sizing: border-box;
}

h3 {
    border: 1px solid #333;
    color: #4CAF50;
    padding: 10px;
    margin: 0;
    border-radius: 5px;
    background-color: #262626;
}

#optionsContainer {
    border: 1px solid #333;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #1a1a1a;
    padding: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.option-group {
    margin-bottom: 20px;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.category-title {
    font-size: 1.5em;
    margin-bottom: 10px;

}

.option-container {
    padding: 10px;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: calc(100% - 22px);
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    color: #fff;
    background: #1f1f1f;
    box-sizing: border-box;
}

.footer {
    text-align: center;
    padding: 10px;
    background-color: #262626;
    color: #fff;
}
/* Add a style for the arrow class */
.option-group .arrow {
    color: #808080; /* Set the color for the arrows */
}

/* You can set any additional styles for h3 elements in the .option-group class here */
.option-group h3 {
    /* Additional styles for h3 elements */
}
